
header {
    max-width: 960px;
    margin: 0 auto;
    background-image: url(/images/tomb.jpg);
    background-repeat: no-repeat;
    background-size: 960px 300px;
    height: 300px;
}

h1#company {
    color: rgb(229, 255, 0);
    text-shadow: black 1.5px 1.5px;
    margin-left: 2%;
    padding-top: 20%;
}

h2#slogan {
    color: white;
    text-shadow: black 1.5px 1.5px;
    margin-left: 2%;
}

body {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: rgb(0, 0, 0);
}

#stem {
    width: 100%;
    height: 2rem;
    background-color: black;
    color: white;
    padding-top: .5rem;
}

button {
    width: 100%;
    height: 2rem;
    background-color: rgb(229, 255, 0);
    font-size: 1rem;
}

.feedback {
    width: 100%;
    height: 2rem;
    background-color: rgb(74, 190, 74);
    padding-top: .5rem;
}

footer {
    text-align: center;
    background-color: rgb(229, 255, 0);
    color: black;
}

footer p {
    margin: 0;
    padding: 10px;
}